// set individual column widths depending on type

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, 'width');

      &#{$colName} {
        flex: 0 0 $width;
        min-width: $width;
        max-width: $width;

      }
    }
  }
}

// MEDIA QUERY MANAGER
/*
0 - 568px:     iPhone 5 the format is 320 x 568 pixels.
568 - 1024px:  iPad the format is 768 x 1024 pixels 
900 - 1200px:  Desktop

$breakpoint argument choices:
- phone
- tab
- desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: $breakpoint-phone 35.5em) {
      //568px
      @content;
    }
  }
  @if $breakpoint==tab {
    @media (max-width: $breakpoint-tab 64em) {
      // 1024px
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media (max-width: $breakpoint-desktop 75em) {
      // 1200px
      @content;
    }
  }
}
