@import '../../../styles/index.scss';
.logo {
  font: 84px 'Arial Narrow', sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
  @media only screen and (max-width :  $desktop){
    font-size: 40px;
  }

  &--container {
    text-align: center;
  }
  .word2 {
    transition: all 3s;
    z-index: 0; /* stack 2nd word below */
  }
  .word1 {
    color: $red;
    display: inline-block; /* required for transform */
    z-index: 10;
    transition: all 4s;
  }
  span {
    position: relative;
  }
}
