@import '../../../styles/index.scss';
:host {
  background: $red;
  display: grid;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  footer {
    text-align: center;
    color: white;
    pointer-events: none;

    p {
      margin: 0;
      @media only screen and (max-width: $desktop) {
        font-size: 10px !important;
      }
    }
  }
}
