table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.mat-row {
  background-color: #eae8f6;
  &:nth-child(even) {
    background-color: #c5cae9;
  }
  &:hover {
    background-color: #5c6bc0;
    cursor: pointer;
  }
  &.selected {
    background-color: #3f51b5;
  }
}
